<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <a href="/reqLogout">
            <button name="logoutBtn" type="button">Logout</button>
        </a>
        <a href="/reqAvailablecourses">
            <button name="availableCoursesBtn" type="button" disabled>View Available Courses</button>
        </a>
        <form action="/reqEnrollcourse" method="post">
            <input type="text" id="email" name="email" style="display: none;" th:value="${userEmail}">
            <button name="enrollCourseBtn" type="submit">Enroll Course(s)</button>
        </form>
        <a href="/reqViewprevgrades">
            <button name="viewPrevGradesBtn" type="button">View Previous Grades</button>
        </a>
        <a id="facultyUploadGradesAnc" href="/reqUploadgrades" th:if="${facultyEmail != null}">
            <button name="facultyUploadGradesBtn" type="button">Upload Grades</button>
        </a>
        <a id="facultyDeployNewCourse" href="/reqDeployNewCourse" th:if="${facultyEmail != null}">
            <button name="facultyDeployNewCourseBtn" type="button">Deploy New Course</button>
        </a>
        <hr>

        <h1>Available Courses</h1>
        <!-- Display list of courses -->
        <table id="courseList">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Status</th>
                <th>Available Slots</th>
                <th>Total Slots</th>
            </tr>

            <tr th:each="course : ${availableCourses}">
                <td th:text="${course.courseID}"></td>
                <td th:text="${course.courseName}"></td>
                <td th:text="${course.courseStatus}"></td>
                <td th:text="${course.availNumSlots}"></td>
                <td th:text="${course.totalNumSlots}"></td>
            </tr>

            <!--
            <tr>
                <td>23489723489345729834</td>
                <td>Course-1</td>
                <td>Open</td>
                <td>2</td>
                <td>20</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Course-2</td>
                <td>Closed</td>
                <td>20</td>
                <td>20</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Placeholder</td>
                <td>Open</td>
                <td>10</td>
                <td>20</td>
            </tr>
            -->

        </table>
    </body>
</html>