<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Deploy Course</title>
        <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    </head>
    <style>
        .featureBtn{
            padding: 10px 10px;
            width: 100px;
        }
    </style>
    <body>
        <div style="width:100px; length:500px">
            <a href="/reqAvailablecourses" th:if="${userEmail != null}">
                <button class="featureBtn"  name="availableCoursesBtn" type="button">View Available Courses</button>
            </a>
            <form action="/reqEnrollcourse" method="post" th:if="${userEmail != null}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="text" name="email" style="display: none;" th:value="${userEmail}">
                <button class="featureBtn"  name="enrollCourseBtn" type="submit">Enroll Course(s)</button>
            </form>
            <form action="/reqViewprevgrades" method="post" th:if="${userEmail != null}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="text" name="email" style="display: none;" th:value="${userEmail}">
                <button class="featureBtn" name="viewPrevGradesBtn" type="submit">View Previous Grades</button>
            </form>
            <a id="facultyUploadGradesAnc" href="/reqUploadgrades" th:if="${facultyEmail != null}">
                <button class="featureBtn" name="facultyUploadGradesBtn" type="button">Upload Grades</button>
            </a>
            <a id="facultyDeployNewCourse" href="/reqDeployNewCourse" th:if="${facultyEmail != null}">
                <button class="featureBtn" name="facultyDeployNewCourseBtn" type="button">Deploy New Course</button>
            </a>
            <a href="/logout">
                <button class="featureBtn" name="logoutBtn" type="button">Logout</button>
            </a>
        </div>
        <hr>
        <p th:text="${errorMessage}">[]</p>
        <div th:if="${errorMessage != 'Feature is unavailable'}">
            <h1>Deploy Course</h1>
            <form action="/submitNewCourse" method="post">
                <table>
                    <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Course Name</th>
                        <th>Total Slots</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" id="courseID" name="courseID" required maxlength="5" oninput="this.value = this.value.toUpperCase();">
                        </td>
                        <td>
                            <input type="text" id="courseName" name="courseName" required oninput="this.value = this.value.toUpperCase();">
                        </td>
                        <td>
                            <input type="number" id="numTotalSlots" name="numTotalSlots" min="5" max="40" required step="5">
                        </td>
                        <td>
                            <button name="deployCourseBtn" type="submit">Deploy</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <p th:text="${response}">[]</p>
        </div>
    </body>
</html>