<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Enroll Course(s)</title>
    </head>
    <body>
        <a href="/reqLogout">
            <button name="logoutBtn" type="button">Logout</button>
        </a>
        <a href="/reqAvailablecourses">
            <button name="availableCoursesBtn" type="button">View Available Courses</button>
        </a>
        <form action="/reqEnrollcourse" method="post">
            <input type="text" name="email" style="display: none;" th:value="${userEmail}">
            <button name="enrollCourseBtn" type="submit">Enroll Course(s)</button>
        </form>
        <a href="/reqViewprevgrades">
            <button name="viewPrevGradesBtn" type="button">View Previous Grades</button>
        </a>
        <a id="facultyUploadGradesAnc" href="/reqUploadgrades" th:if="${facultyEmail != null}">
            <button name="facultyUploadGradesBtn" type="button">Upload Grades</button>
        </a>
        <a id="facultyDeployNewCourse" href="/reqDeployNewCourse" th:if="${facultyEmail != null}">
            <button name="facultyDeployNewCourseBtn" type="button">Deploy New Course</button>
        </a>
        <hr>
        <h1>Enroll Courses</h1>
        <p><b>Email:</b> <span th:text="${userEmail}">[email here]</span></p>
        <!--
        <p><b>ID Number:</b> 12345678</p>
        <p><b>Program Code:</b> BSCS-ST</p>
        -->
        <table id="coursesEnrolled">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Status</th>
            </tr>

            <!-- GIVING ERRORS!! -->
            <tr th:each="student : ${studentEnlistedCourses}">
                <td th:text="${student.enlistedCourseID}"></td>
                <td th:text="${student.enlistedCourseName}"></td>
                <<td>Enlisted</td>
            </tr>

        </table>
        <hr>
        <table id="courseToEnlist">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Confirm</th>
            </tr>
            <form action="/submitEnrollACourse" method="post">
                <tr>
                    <input type="text" id="email" name="email" style="display: none;" th:value="${userEmail}">
                    <td>
                        <input type="text" id="courseID" name="courseID">
                    </td>
                    <td>
                        <input type="text" id="courseName" name="courseName">
                    </td>
                    <td>
                        <button name="enlistBtn" type="submit">Enlist</button>
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>