<!DOCTYPE HTML>
<html>
    <head>
        <title>Distributed System</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <a href="/reqLogout">
            <button name="logoutBtn" type="button">Logout</button>
        </a>
        <a href="/reqAvailablecourses">
            <button name="availableCoursesBtn" type="button">View Available Courses</button>
        </a>
        <a href="/reqEnrollcourse">
            <button name="enrollCourseBtn" type="button">Enroll Course(s)</button>
        </a>
        <a href="/reqViewprevgrades">
            <button name="viewPrevGradesBtn" type="button">View Previous Grades</button>
        </a>
        <a href="/reqUploadgrades">
            <button name="facultyUploadGradesBtn" type="button">Upload Grades</button>
        </a>
    </body>
</html>