<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upload Grades</title>
    </head>
    <body>
        <a href="/reqLogout">
            <button name="logoutBtn" type="button">Logout</button>
        </a>
        <a href="/reqAvailablecourses">
            <button name="availableCoursesBtn" type="button">View Available Courses</button>
        </a>
        <form action="/reqEnrollcourse" method="post">
            <input type="text" id="email" name="email" style="display: none;" th:value="${userEmail}">
            <button name="enrollCourseBtn" type="submit">Enroll Course(s)</button>
        </form>
        <a href="/reqViewprevgrades">
            <button name="viewPrevGradesBtn" type="button">View Previous Grades</button>
        </a>
        <a id="facultyUploadGradesAnc" href="/reqUploadgrades" th:if="${facultyEmail != null}">
            <button name="facultyUploadGradesBtn" type="button">Upload Grades</button>
        </a>
        <a id="facultyDeployNewCourse" href="/reqDeployNewCourse" th:if="${facultyEmail != null}">
            <button name="facultyDeployNewCourseBtn" type="button">Deploy New Course</button>
        </a>
        <hr>
        <h1>Upload Grades</h1>
        <!-- Possible Dropdown Menu -->
        <p><b>Course Code:</b> 1</p>
        <p><b>Course Name:</b> Course-1</p>
        <button name="uploadGrades" type="button">Upload Grades</button>
    </body>
</html>