<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upload Grades</title>
    </head>
    <body>
        <a href="/reqLogout">
            <button name="logoutBtn" type="button">Logout</button>
        </a>
        <a href="/reqAvailablecourses">
            <button name="availableCoursesBtn" type="button">View Available Courses</button>
        </a>
        <a href="/reqEnrollcourse">
            <button name="enrollCourseBtn" type="button">Enroll Course(s)</button>
        </a>
        <a href="/reqViewprevgrades">
            <button name="viewPrevGradesBtn" type="button">View Previous Grades</button>
        </a>
        <a href="/reqUploadgrades">
            <button name="facultyUploadGradesBtn" type="button" disabled>Upload Grades</button>
        </a>
        <hr>
        <h1>Upload Grades</h1>
        <!-- Possible Dropdown Menu -->
        <p><b>Course Code:</b> 1</p>
        <p><b>Course Name:</b> Course-1</p>
        <button name="uploadGrades" type="button">Upload Grades</button>
    </body>
</html>