<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Previous Grades</title>
</head>
<body>
    <a href="/reqLogout">
        <button name="logoutBtn" type="button">Logout</button>
    </a>
    <a href="/reqAvailablecourses">
        <button name="availableCoursesBtn" type="button">View Available Courses</button>
    </a>
    <a href="/reqEnrollcourse">
        <button name="enrollCourseBtn" type="button">Enroll Course(s)</button>
    </a>
    <a href="/reqViewprevgrades">
        <button name="viewPrevGradesBtn" type="button" disabled>View Previous Grades</button>
    </a>
    <a href="/reqUploadgrades">
        <button name="facultyUploadGradesBtn" type="button">Upload Grades</button>
    </a>
    <hr>
    <h1>Previous Grades</h1>
    <p><b>Name:</b> Student Name</p>
    <p><b>ID Number:</b> 12345678</p>
    <p><b>Program Code:</b> BSCS-ST</p>
    <table id="previousGrades">
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Grade</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Course-1</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Course-2</td>
            <td>3.0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Course-3</td>
            <td>3.0</td>
        </tr>
    </table>
</body>
</html>